@import 'style-variables';

* { margin: 0; padding: 0; }
:root { font-size: 12px; }

.container {
    background-color: #333;
    display: grid;
    font-family: "Monospace", Arial, sans-serif;
    grid-template-areas: "header" "article" "footer";
    grid-template-rows: 10vh 75vh 15vh;
}

.site-header {
    color: #eee;
    grid-area: header;
    padding: 1rem;
    position: absolute;

    @media (min-width: $tablet) {
        font-size: 1.2rem;
    }

    a {
        color: #eee;
        text-decoration: none;
    }

    .cursor {
        animation: toggleShow .6s infinite;
    }
}

@keyframes toggleShow {
    0% { color: #333; }
    50% { color: #eee; }
    100% { color: #333; }
}

.site-article {
    color: #eee;
    grid-area: article;
    text-align: center;

    img {
        border: 2px solid #eee;
        border-radius: 50%;
        margin-top: 10%;
        width: 10rem;

        @media (min-width: $tablet) {
            margin-top: 3rem;
            width: 15rem;
        }
    }

    h3 {
        margin: 1rem 0;
    }

    
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 2rem 0;

        a {
            text-decoration: none;
        }

        .icon-item {
            display: inline-block;
            border-radius: 50%;
            width: 3rem;
            fill: #eee;

            @media (min-width: $tablet) {
                width: 4rem;
            }
                
            &:hover {
                fill: #689f38;
                transition: all .3s;
            }
        }
    }
}

.site-footer {
    color: #eee;
    grid-area: footer;
    text-align: center;
    font-size: 1.2rem;

    @media (min-width: $tablet) {
        font-size: 1.2rem;
    }

    .heart {
        color: #d22;
    }

    .copyright {
        font-size: 1rem;
        line-height: 2.5rem;

        @media (min-width: $tablet) {
            font-size: 1rem;
        }
    }
}